/* background image */
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

/* jumbotron background color */
.jumbotron {
  background-color: rgb(155, 153, 153);
}

/* name and role header */
.card-header {
  background-color: rosybrown;
}

/* information card background */
.card-body {
  background-color: gainsboro;
}

.employee-card {
  padding: 10px;
  background: transparent;
}
