/* background image */
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

/* jumbotron background color */
.jumbotron {
  background-color: grey;
}

/* name and role header */
.card-header {
  background-color: rosybrown;
}

/* information card background */
.card-body {
  background-color: gainsboro;
}
